@page
@model CybontrolX.Pages.EditEmployeeModel
@{
    ViewData["Title"] = "Редактировать сотрудника";
}

<div id="notificationPanel" class="notification-panel">
    <div class="notification-content">
        <span class="notification-text">@Model.NotificationMessage</span>
        <span class="notification-close" onclick="closeNotification()">&times;</span>
    </div>
    <div class="notification-slider"></div>
</div>

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="form-container mb-5" style="width: 100%; max-width: 500px;">
        <h2>Редактировать сотрудника</h2>
        <form method="post" asp-page-handler="EditEmployee" onsubmit="showNotification(event)">
            <input type="hidden" asp-for="Employee.Id" />

            <div class="form-group mb-3">
                <label asp-for="Employee.Name" class="form-label">ФИО сотрудника</label>
                <input asp-for="Employee.Name" class="form-control" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Employee.Surname" class="form-label">ФИО сотрудника</label>
                <input asp-for="Employee.Surname" class="form-control" />
                <span asp-validation-for="Employee.Surname" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Employee.Patronymic" class="form-label">ФИО сотрудника</label>
                <input asp-for="Employee.Patronymic" class="form-control" />
                <span asp-validation-for="Employee.Patronymic" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Employee.PhoneNumber" class="form-label">Телефон</label>
                <input asp-for="Employee.PhoneNumber" class="form-control" />
                <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
            </div>

            @* <div class="form-group mb-3"> *@
            @*     <label asp-for="Employee.Status" class="form-label">Статус</label> *@
            @*     <select asp-for="Employee.Status" class="form-control"> *@
            @*         <option value="работает">Работает</option> *@
            @*         <option value="не работает">Не работает</option> *@
            @*     </select> *@
            @*     <span asp-validation-for="Employee.Status" class="text-danger"></span> *@
            @* </div> *@

            <div class="form-group mb-3">
                <label asp-for="Employee.Role" class="form-label">Роль</label>
                <select asp-for="Employee.Role" class="form-control">
                    <option value="управляющий">Управляющий</option>
                    <option value="администратор">Администратор</option>
                </select>
                <span asp-validation-for="Employee.Role" class="text-danger"></span>
            </div>

            @* <div class="form-group mb-3"> *@
            @*     <label asp-for="Employee.DutyScheduleId" class="form-label">Расписание</label> *@
            @*     <select asp-for="Employee.DutyScheduleId" class="form-control"> *@
            @*         <option value="">Не выбрано</option> *@
            @*         @foreach (var schedule in Model.DutySchedules) *@
            @*         { *@
            @*             <option value="@schedule.Id">@schedule.DutyDate.ToShortDateString()</option> *@
            @*         } *@
            @*     </select> *@
            @*     <span asp-validation-for="Employee.DutyScheduleId" class="text-danger"></span> *@
            @* </div> *@

            @* <div class="form-group mb-3" id="shiftStartField" style="display: none;"> *@
            @*     <label asp-for="Employee.ShiftStart" class="form-label">Начало смены</label> *@
            @*     <input asp-for="Employee.ShiftStart" class="form-control" type="datetime-local" /> *@
            @*     <span asp-validation-for="Employee.ShiftStart" class="text-danger"></span> *@
            @* </div> *@

            @* <div class="form-group mb-3" id="shiftEndField" style="display: none;"> *@
            @*     <label asp-for="Employee.ShiftEnd" class="form-label">Конец смены</label> *@
            @*     <input asp-for="Employee.ShiftEnd" class="form-control" type="datetime-local" /> *@
            @*     <span asp-validation-for="Employee.ShiftEnd" class="text-danger"></span> *@
            @* </div> *@

            <button type="submit" class="btn btn-primary btn-block">Сохранить изменения</button>
        </form>
    </div>
</div>
